<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/detail.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light navbarPadding" style="background-color: #e3f2fd;">
          <a class="navbar-brand">Tent</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active se">
                <a class="nav-link link" href="/">Explore </a>
              </li>
              <li class="nav-item">
                <a routerLink="/postApartment" class="nav-link link" href="/new" routerLinkActive="active">Post Tent </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link" href="#">About us</a>
              </li>
            
            </ul>
    
            <ul class="navbar-nav">
              
                <% if (!currentUser){ %>
                  <li class="nav-item">
                    <a class="nav-link link" href="/login">Login/Register</a>
                  
                <% }else{ %>
                  <li class="nav-item">
                      <a class="nav-link link" href="/myTent">My Tent</a>
                    </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link link" href="logout">Logout</a>
                  </li>
                <% } %>
                </ul>
          </div>
          </nav>

      <% if (error && error.length > 0){ %>
        <div class="alart alert-danger" role="alert" style="text-align: center;color:red">
          <%= error %>
        </div>
    <% } %>
    
    <% if (success && success.length > 0){ %>
      <div class="alart alert-success" role="alert" style="text-align: center;color:blue">
        <%= success %>
      </div>
  <% } %>
  <br>
      <div class="container">
        <br><br>
        <div class="row">
          <div class="col-10">
            
              <h1 class="title">Tent detail:</h1>
          </div>
          <div class="col">
                  <% if (currentUser && hello.author.id.equals(currentUser._id)){ %>
                  <form action="/detail/<%= hello._id%>?_method=DELETE" method="POST">
                    <button class='btn btn-primary' style="float:right">Delete</button>
                  </form>
                  <a href="/detail/<%= hello._id%>/edit"><button class='btn btn-danger'>Edit</button></a>
                  <% } %>       
          </div>

        </div>
          <br>
                <div class="row">
                  <div class="col-sm">
                      
                      <img src="<%= hello.img %>" width="500px" height="400px">
                  </div>
                  <div class="col-sm">
                      <h1>$ <%= hello.price %> / Month</h1>
                      <hr>
                      <p>Country: <%= hello.country %></p>
                      <p>Address: <%= hello.address %>,<br><%= hello.city %>, <%= hello.state %>, <%= hello.postalCode %></p>
                      <hr>
                      <p>Landlord name: <%= hello.name%> </p>
                      <p>Phone number: <%= hello.phoneNum %></p>
                      <p>Email Address: <%= hello.emailAddr %></p>
                      <hr>
                      <div class="row">
                        <div class="col-sm">
                            Bedroom available: <%= hello.bedroomAva %>
                        </div>
                        <div class="col-sm">
                            Bathroom available: <%= hello.bathroomAva %>
                        </div>
                      </div>
                  </div>

                </div>
                <p style="font-size:10px;"> Created by <%= hello.author.username%></p>
                <p>Leasing period: <%= hello.startDate %> to <%= hello.endDate %></p>
                <br>
                <p>Other Charges: <%= hello.otherCharge %></p>
                <hr>
                <br>
                <div class="row">
                    <div class="col-sm">
                      
                        <% if ( hello.furnish == "Furnished") { %>
                          <p> <%= hello.furnish %></p>
      
                      <% } else { %>
                          <p> No Furnished </p>
                      <% } %>
                   
                      <% if ( hello.washMachine == "Washing Machine/Dryer") { %>
                        <p> <%= hello.washMachine %></p>
      
                      <% } else { %>
                        <p> No Washing Machine/Dryer </p>
                      <% } %>
                      
                      <% if ( hello.gym == "Gym") { %>
                        <p> <%= hello.gym %></p>
      
                      <% } else { %>
                        <p> No Gym </p>
                      <% } %>
                      
                      <% if ( hello.swimmingPool == "Swimming Pool") { %>
                        <p> <%= hello.swimmingPool %></p>
      
                      <% } else { %>
                        <p> No Swimming Pool </p>
                      <% } %>
                      
                      <% if ( hello.parkingLot == "Parking Lot") { %>
                        <p> <%= hello.parkingLot %></p>
      
                      <% } else { %>
                        <p> No Parking Lot </p>
                      <% } %>
                    </div>
                    <div class="col-sm">
                        <% if ( hello.pet == "Pet") { %>
                          <p> Allow Pets </p>
        
                        <% } else { %>
                          <p> No Pets Allowed </p>
                        <% } %>
        
                        <% if ( hello.smoke == "Smoking") { %>
                          <p> Allow Smoking %></p>
        
                        <% } else { %>
                          <p> No Smoking Allowed </p>
                        <% } %>
        
                        <% if ( hello.party == "Party") { %>
                          <p> Allow Party </p>
        
                        <% } else { %>
                          <p> No Party Allowed </p>
                        <% } %>
                    </div>

                </div>
            
                
                <hr>
            <p> Other Information: <% if (hello.otherInfo){ %><%=hello.otherInfo%><% }else{ %>None<% } %> </p>

      </div>

      <div class="container">
        <br>
        
        <span style="font-size:20px">Comments:</span><a href="/detail/<%= hello._id %>/comments/new" style="float:right"><i class="fas fa-plus-circle fa-2x"></i> </a>

        
        <% hello.comments.forEach(function(comment){ %>

          <div style="margin-top:30px;padding:10px">
            <p><i class="fas fa-user-astronaut fa-3x" style="color:blue">&nbsp;&nbsp;</i><span style="font-size:15px;font-weight:600"><%= comment.author.username %></span><br><span style="color:#707B7C;margin-left:65px;"><%= comment.text %></span> </p>

            <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>

            <a class="btn btn-xs btn-warning" href="/detail/<%=hello._id %>/comments/<%=comment._id%>/edit" style="float:right">Edit</a>
            <form action="/detail/<%=hello._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
              <button class='btn btn-primary' style="float:right">Delete</button>
            </form>
            <% }%>
          </div>
        <% }); %>

      
        <div style="margin-top:300px"></div>
        
        

      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

