<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/detail.css">
    <title>Hello, world!</title>
  </head>
  <body>

      <% if (error && error.length > 0){ %>
        <div class="alart alert-danger" role="alert">
          <%= error %>
        </div>
    <% } %>
    
    <% if (success && success.length > 0){ %>
      <div class="alart alert-success" role="alert">
        <%= success %>
      </div>
  <% } %>

  
      <div class="container">
            <h1 class="title">Tent detail:</h1>
            <p> country: <%= hello.country %></p>
            <p> address: <%= hello.address %> </p>
            <p> city: <%= hello.city %> </p>
            <p> state: <%= hello.state %> </p>
            <p> postal code: <%= hello.postalCode %> </p>
            <p> bedrooms available: <%= hello.bedroomAva %></p>
            <p> bathrooms available: <%= hello.bathroomAva %></p>
            <p> phone number: <%= hello.phoneNum %></p>
            <p> email address: <%= hello.emailAddr %></p>
            <p> startDate: <%= hello.bedroomAva %></p>
            <p> endDate: <%= hello.bathroomAva %></p>
            <p> price: <%= hello.price %> </p>
            
                <% if ( hello.furnish == "Furnished") { %>
                    <p> <%= hello.furnish %></p>

                <% } else { %>
                    <p> No Furnished </p>
                <% } %>
             
                <% if ( hello.washMachine == "Washing Machine/Dryer") { %>
                  <p> <%= hello.washMachine %></p>

                <% } else { %>
                  <p> No Washing Machine/Dryer </p>
                <% } %>
                
                <% if ( hello.gym == "Gym") { %>
                  <p> <%= hello.gym %></p>

                <% } else { %>
                  <p> No Gym </p>
                <% } %>
                
                <% if ( hello.swimmingPool == "Swimming Pool") { %>
                  <p> <%= hello.swimmingPool %></p>

                <% } else { %>
                  <p> No Swimming Pool </p>
                <% } %>
                
                <% if ( hello.parkingLot == "Parking Lot") { %>
                  <p> <%= hello.parkingLot %></p>

                <% } else { %>
                  <p> No Parking Lot </p>
                <% } %>
                
                <% if ( hello.pet == "Pet") { %>
                  <p> Allow Pets </p>

                <% } else { %>
                  <p> No Pets Allowed </p>
                <% } %>

                <% if ( hello.smoke == "Smoking") { %>
                  <p> Allow Smoking %></p>

                <% } else { %>
                  <p> No Smoking Allowed </p>
                <% } %>

                <% if ( hello.party == "Party") { %>
                  <p> Allow Party </p>

                <% } else { %>
                  <p> No Party Allowed </p>
                <% } %>

            <p> other info: <%= hello.otherInfo %> </p>

            <img src="<%= hello.img %>">
            <p style="font-size:10px;"> Created by <%= hello.author.username%></p>
      </div>

      <div class="container">
        <h1>Comments:</h1><br>
        <% hello.comments.forEach(function(comment){ %>
            <p><b><%= comment.author.username %></b><br><%= comment.text %> </p>

            <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>

            <a class="btn btn-xs btn-warning" href="/detail/<%=hello._id %>/comments/<%=comment._id%>/edit">Edit</a>
            <form action="/detail/<%=hello._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
              <button class='btn btn-primary'>Delete</button>
            </form>
            <% }%>
        <% }); %>

        <a href="/detail/<%= hello._id %>/comments/new"><button class='btn btn-dark'>Add new Comment</button> </a>

      </div>

      <div class="container">
        <% if (currentUser && hello.author.id.equals(currentUser._id)){ %>
        <form action="/detail/<%= hello._id%>?_method=DELETE" method="POST">
          <button class='btn btn-primary'>Delete</button>
        </form>
        <a href="/detail/<%= hello._id%>/edit"><button class='btn btn-danger'>Edit</button></a>
        <% } %>
        <a href="/"><button class='btn btn-warning'>Go Back</button></a>
      </div>
        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

